@charset "UTF-8";

html {
    font-size: 100%;
}
body {
    color: #333;
    font-size: 1rem;
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
}
a {
    color: #333;
    text-decoration: none;
}
img {
    max-width: 100%;
    max-height: 900px;
}
li {
    list-style: none;
}
/*
コンテンツ幅を設定するための共通クラス
*/
.wrapper {
    max-width: 1200px;
    max-height: 1200px;
    padding: 0 16px;
    margin: 0 auto;
}
.article-title {
    text-align: center;
}
.readmore {
    font-size: 0.875rem;
    text-align: center;
}
/*
疑似要素で下線を設定するために、「position: relative;」を設定
*/
.readmore a {
    padding-bottom: 1px;
    color: #333;
    position: relative;
}
/*
「position: absolute;」を設定し、left、bottomで下線の位置を調整
widthとheightで線の長さと高さを設定
疑似要素で線を表示させるためには、「content: '';」を設定すること
「transition: all 200ms ease;」でホバー時の速度などを設定
*/
.readmore a::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    left: 0;
    bottom: 0;
    background: #000000;
    transition: all 200ms ease;
}
/*
ホバー時の下線の設定
「opacity: 0;」下線を非表示
「transform: translateY(3px);」下に3px移動
→下に3px移動しながら下線を非表示にする
*/
.readmore a:hover::after {
    opacity: 0;
    transform: translateY(3px);
}

/*-------------------------------------------
header
-------------------------------------------*/
/*
「position: fixed;」でヘッダーを固定し、「z-index: 10;」で前面に表示
※他のコンテンツでpositionをrelative、absolute、fixedのいずれかに
設定している場合は、z-indexの数値が大きい方が前面に表示される
*/
#header {
    width: 100%;
    background-color: #fff;
    position: fixed;
    z-index: 10;
}
#header .site-title {
    padding: 20px 16px;
    line-height: 1px;
}
/*
「display: inline-block;」でリンクを親要素の範囲に広げる
※blockを指定すると横幅いっぱいまで広がってしまうため、
inline-blockを設定している
*/
#header .site-title a {
    display: inline-block;
}
#navi {
    background-color: #000000;
}
#navi a {
    color: #fff;
}
#navi ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#navi li {
    font-size: 0.875rem;
    padding: 10px 60px 10px 0;
}

/*-------------------------------------------
pickup
-------------------------------------------*/
#pickup {
    display: flex;
    justify-content: space-between;
    padding-top: 150px;
    margin-bottom: 60px;
    gap: 3px;
}
#pickup article {
    width: 32%;
}
#pickup .article-title {
    font-size: 1rem;
    margin: 10px 0 15px 0;
}

/*-------------------------------------------
container
-------------------------------------------*/
.container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    /* justify-content: space-between; */

}

main {
    height: 50px;
    width: 70%;
    /* background-color: blue; */
    
}
main article {
    margin-bottom: 80px;
}
main .article-title {
    font-size: 1.5rem;
    margin: 10px 0 15px 0;
}
main ul {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}
main li {
    font-size: 0.875rem;
    margin-right: 20px;
}
main .text {
    padding: 10px 40px 30px 40px;
}

/*-------------------------------------------
aside
-------------------------------------------*/
.small-info {
    display: flex;
    justify-content: start;
    margin-top: 8px;
    gap: 20px;
    align-items: center;
}
aside {
    height: 50px;
    width: 30%;
    /* background-color:red; */
}
.blog-card {
    margin-left: 20px;
    margin-right: 16px;
    margin-bottom: 24px;
}
#sidebar {
    width: 33%;
    padding: 20px;
}
#sidebar .side-title {
    font-size: 1.125rem;
    font-weight: bold;
    margin-bottom: 30px;
}
.author {
    text-align: center;
    margin-bottom: 60px;
}
.author img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-bottom: 30px;
}
.author .profile {
    font-size: 0.875rem;
    text-align: left;
}
.ranking {
    text-align: center;
    margin-bottom: 60px;
}
.ranking article {
    margin-bottom: 30px;
}
.ranking .article-title {
    font-size: 0.875rem;
    font-weight: normal;
    text-align: left;
}
.archive {
    text-align: center;
    margin-bottom: 60px;
}
.archive ul {
    border-bottom: solid  1px #777;
}
.archive li {
    font-size: 0.875rem;
    border-top: solid  1px #777;
    padding: 20px;
    text-align: left;
}

/*-------------------------------------------
footer
-------------------------------------------*/
#footer {
    font-size: 0.875rem;
    background-color: #f7f7f7;
}
#footer .content {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
}
#footer .item {
    width: 30%;
}
#footer .footer-title {
    font-size: 1.125rem;
    font-weight: bold;
    margin-bottom: 30px;
}
#footer ul.about-list {
    margin: 20px 0;
}
#footer ul.about-list li {
    margin-bottom: 5px;
}
#footer ul.about-list .arrow {
    position: relative;
    display: inline-block;
    padding-left: 12px;
    color: #333;
}
/*
疑似要素で三角矢印を表示
border～プロパティで三角を作り、positionで位置調整
*/
#footer ul.about-list .arrow::before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 0 6px 8px;
    border-color: transparent transparent transparent #333;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -6px;
}
#footer .menu-list {
    border-bottom: solid  1px #777;
}
#footer .menu-list > li {
    border-top: solid  1px #777;
    padding: 15px;
    text-align: left;
}
#footer .copyright {
    font-size: 0.750rem;
    text-align: center;
    padding: 10px 0;
}

/*-------------------------------------------
SP
-------------------------------------------*/
@media screen and (max-width: 767px) {
/*-------------------------------------------
header
-------------------------------------------*/
#header .site-title {
    padding: 20px 16px;
}
#navi {
    /* 横スクロールを表示 */
    overflow-x: scroll;
}

/*-------------------------------------------
pickup
-------------------------------------------*/
#pickup {
    flex-direction: column;
    padding-top: 140px;
}
#pickup article {
    width: 100%;
    margin-bottom: 30px;
}

/*-------------------------------------------
container
-------------------------------------------*/
#container {
    flex-direction: column;
}
main {
    width: 100%;
}

/*-------------------------------------------
aside
-------------------------------------------*/
#sidebar {
    width: 100%;
    padding: 0;
}

/*-------------------------------------------
footer
-------------------------------------------*/
#footer .content {
    flex-direction: column;
}
#footer .item {
    width: 100%;
    margin-bottom: 30px;
}
}
